/* Header */

header h1{
    text-align: center;
}

header{
    margin-bottom: 15px;
}

#pokelogo {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.nav-wrapper{
    margin-left: 15px;
}

/* Section */

.cardTitleColor{
    color: black;
}


